body {
  background-color: #fafafa;
  margin: 0;
  color: #5a5a5a;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
}
nav > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
nav .logos > a{
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{text-decoration: none;}
section{margin-top: 20px;}

.navbar {
  list-style-type: none;
  display: flex;
}
.navbar > li {
  margin: auto 10px;
}
.navbar > li > a {
  color: purple;
}
.navbar > li > a:hover {
  color: grey;
}
.navbar > li > a.active {
  color: grey;
  font-weight: bold;
}

.container {
  width: 65%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: auto -15px;
}

.row > .col-left{
  width: 69%;
}
.row > .col-right{
  width: 24%;
}

.row > .col-left,
.row > .col-right{
  margin: 0 15px
}


.card{
  border: 1px solid #d7d7d7;
  background-color: white;
  margin-bottom: 20px;
}
.card > .card-header,
.card > .card-footer{
  padding: 15px 20px;
}

#feed .content  > img{
  width: 100%;
  background-color: black;
  margin-bottom: 0;
}
#feed .content > .message{
  padding: 15px 20px;
}
#feed .content >  .message > .title{
  font-weight: bold;
  margin-right: 10px;
}

#feed .avatar > img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid purple;
  float: left;
  margin-right: 20px;
}
#feed .avatar > h3{margin: 0px;}

footer{
  color: #9c9898;
  font-size: 14px;
}

#form-comment{
}
#form-comment > div{padding: 10px 15px;}
#form-comment textarea{
  width: 84%;
  height: 40px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
}
#form-comment textarea:focus{
  outline: none;
}
#form-comment .btn{
  width: 15%;
  height: 46px;
  justify-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: rgba(128, 0, 128,0.5);
  font-weight: bold;
  font-size: 14px;
}
#form-comment .btn:hover{
  color: rgb(128, 0, 128);
}

